.styled-table {
    width: 80%; /* Ajusta el ancho de la tabla */
    margin: 0 auto; /* Centra la tabla */
    border-collapse: collapse; /* Elimina espacios entre celdas */
}

.styled-table th, .styled-table td {
    
    padding: 1px 2px; /* Reduce el padding entre celdas */
    text-align: center; /* Centra el contenido de las celdas */
}

.styled-table th {
    background-color: #a64949; /* Color de fondo de la cabecera */
}

.styled-table tr:nth-child(even) {
    background-color: #f1f1f1;  /* Color alternativo para filas pares */
}

.styled-table tr:hover {
    background-color: #f1f1f1; /* Color al pasar el ratón sobre una fila */
}
